<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ards{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" />
</head>

<body>
    {% include '/layout/header_navbar.html' %}

    <div id="container">
        {% block content %}

        {% endblock %}
    </div>

    {% include '/layout/footer.html' %}

    <script src="{{ url_for('static', filename='node_modules/flowbite/dist/flowbite.min.js') }}"></script>
</body>

</html>