<footer class="px-4 mx-auto border-t border-gray-300 py-2 mt-32 bottom-0 ">
    <div>
        <div class="flex justify-center relative top-[-2rem]">
            <img src="../static/images/usep-logo.png" class="w-12 mx-2 rounded-full bg-white border-2 border-white">
            <img src="../static/images/logo-light.png" class="w-12 mx-2 rounded-full bg-white border-2 border-white">
        </div>
        <div id="footer-text" class="">
            <div class=" flex justify-center">
                <div class="mr-2">University of Southeastern Philippines</div>
                <div> • </div>
                <div class="ml-2">Office of the University Registrar</div>
            </div>
            <div class=" text-center">
                <div>Copyright © 2023. All Rights Reserved.</div>
                <div><a href="https://www.usep.edu.ph/usep-data-privacy-statement/" target="_blank" class="font-bold text-gray-700 hover:text-gray-900">Privacy Policy</a></div>
            </div>
        </div>
    </div>
</footer>
